* {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4c8;
    min-height: 100vh;
}

.main-card {
    border-radius: 10px;
    display: flex;
    width: 90%;
    max-width: 550px;
    height: auto;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image, .description {
    width: 100%;
}

.image {
    height: 200px;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(../image/image-product-mobile.jpg);
}

.description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    border: none;
    background-color: #596c51;
    color: white;
    font-size: 17px;
}

.card {
    width: 20px;
    height: 18px;
}

.prices {
    display: flex;
    align-items: center;
    gap: 20px;
}

.price {
    color: #596c51;
    font-size: 30px;
}

.prices span {
    text-decoration: line-through;
}

.title {
    font-size: 30px;
}

span {
    color: #aeaeae;
    font-family: 'Times New Roman';
}

strong {
    font-family: 'Times New Roman';
}

p {
    color: #aeaeae;
}

@media screen and (min-width: 561px) {
    .main-card {
        flex-direction: row;
        height: 400px;
    }

    .image {
        width: 50%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        background-image: url(../image/image-product-desktop.jpg);
    }

    .description {
        width: 50%;
        padding: 30px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}
